#overview_body {
  text-align: center;
}

#tab_title {
  color: #34b4eb;
}

* {
  font-family: Georgia, serif;
}

#sub_headers {
  color: #34b4eb;
}

#takeaways {
  color: #34b4eb;
}

#title {
  color: #1f819c;
}

#takeaway_body {
  padding-top: 10px;
}